.dockerignore
.DS_Store
.editorconfig
.eslintrc.json
.github
.gitignore
.prettierignore
.vscode
dist
Dockerfile*
docker-compose*
.env*
docs
jest.config.js
jest.preset.js
Makefile
node_modules
README.md