@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#topic-tree span.extra {
  display: none;
}

#topic-tree span.status {
  background-color: transparent;
}
